.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  width: 709px;
  width: 100vw;

  
 
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    /* min-width: fit-content; */
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    /* padding: 15px 20px; */
/* 
    width: 100vw; */
  /* padding: 0 180px; */
    width: 708px;
    
  }
  
  .feed__header>h2 {
    font-size: 20px;
    font-weight: 800;
  }