.follow-button {
    background-color: white;
    padding: 10px;
    border: 1px solid;
    border-radius: 2rem;
    margin-right: 20px;
    color: black;
  }
  .follow-button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
  }